* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
      'Lucida Sans', Arial, sans-serif;
      text-align: center;
      
  }
 
  .box {
    position: absolute;
    width: 624px;
    height: 1612px;
    left: 408px;
    top: 179px;

    background: rgba(254, 250, 250, 0.58);
    border-radius: 120px;
    

  }
  
  body {
    position: relative;
    width: 1440px;
    height: 1024px;
    background: conic-gradient(from -5.45deg at 50% 50%, #3176E0 0deg, #8C5BAA 166.87deg, #E04279 298.12deg, #3176E0 360deg);

  }
     
  
  .todo-app {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 520px;
    min-height: 600px;
    background: #161a2b;
    text-align: center;
    margin:  128px auto;
    border-radius: 10px;
    padding-bottom: 32px;
    
    
  }
  
  
  
  .complete {
    text-decoration: line-through;
    opacity: 0.4;
  }
  
  .todo-form {
    margin-bottom: 32px;
  }
  
  
  
  .todo-input.edit {
    background: rgba(0, 255, 240, 0.26);
    border: 1px solid #00E0FF;
    box-sizing: border-box;
    
    
  }
  
  .todo-button.edit {
    background: linear-gradient(180deg, #0085FF 0%, #0011A8 100%);
    border: 1px solid #0066FF;
    box-sizing: border-box;
    padding: 16px;
    width: 78px;
    height: 45px;
    left: 830px;
    top: 170px;

  }
  
  .todo-container {
    display: flex;
    flex-direction: row;
    position: relative;
    
    
  }
  
  
  
  .todo-row:nth-child(4n + 1) {
    background: linear-gradient(270deg, #FF5C00 12.98%, #FFCB14 100%);
    border: 2px solid #FF5C00;
    box-sizing: border-box;
    border-radius: 10px;
  } 
  
  .todo-row:nth-child(4n + 2) {
    background: linear-gradient(270deg, #EA7B74 0%, #FF0F00 100%);
    border: 2px solid #FF0F00;
    box-sizing: border-box;
    border-radius: 10px;
  }
  
  .todo-row:nth-child(4n + 3) {
    background: linear-gradient(270deg, #00E0FF 12.98%, #CDF9FF 100%);
    border: 2px solid #00E0FF;
    box-sizing: border-box;
    border-radius: 10px;
  }
  
  .icons {
    display: flex;
    align-items: center;
    font-size: 24px;
    cursor: pointer;
  }
  
  .delete-icon {
    margin-right: 2px;
    color: rgb(0, 0, 0);
    width: 21.77px;
height: 22px;
left: 60px;
  }
  



  
  .edit-icon {
    color: rgb(0, 0, 0);
    padding-right: 50px;
width: 21.77px;
height: 22px;

  }
  ul { position: absolute;
    width: 472px;
    height: 40px;
    left: 484px;
    top: 512px;
    
    background: rgba(254, 250, 250, 0.58);
    border: 1px solid #2B292B;
    border-radius: 20px;    

  }   
  ul li {
    
  }
  .headline1{
    position: absolute;
width: 575px;
height: 72px;
left: 424px;
top: 79px;

font-family: Palanquin;
font-style: normal;
font-weight: bold;
font-size: 40px;
line-height: 72px;
text-align: center;

color: #FEFAFA;

  }
.headline2
{
  position: absolute;
width: 235px;
height: 72px;
left: 594px;
top: 43px;

font-family: Palanquin;
font-style: normal;
font-weight: bold;
font-size: 40px;
line-height: 72px;
text-align: center;

color: #FEFAFA;
}
.todo-row{
  position: absolute;
  width: 549px;
  height: 46px;
  left: 446px;
  top: 389px;
  
  background: rgba(254, 250, 250, 0.58);
  border: 1px solid #2B292B;
  border-radius: 23px;
}

.todobutton{
  position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

border: 1px solid #2B292B; 

}
.todo-input{
  position: absolute;
width: 472px;
height: 40px;
left: 484px;
top: 512px;

background: rgba(254, 250, 250, 0.58);
border: 1px solid #2B292B;
border-radius: 20px;
}
p {
margin-top: 15px ;
  color: #000000;
  font-size: 30px;
  position: absolute;
  width: 472px;
  height: 40px;
  left: 12%;
  
  background: rgba(254, 250, 250, 0.58);
  border: 1px solid #2B292B;
  border-radius: 20px;
}
h3 {
  margin-top: 5px ;
 
width: 472px;
height: 40px;
margin-left: 70px;
padding-top: 4px;


background: rgba(254, 250, 250, 0.58);
border: 1px solid #2B292B;
border-radius: 20px;
}
.todoinputzeile{
  position: absolute;
width: 548.55px;
height: 46px;
left: 446px;
top: 389px;

background: rgba(254, 250, 250, 0.58);
border: 1px solid #2B292B;
border-radius: 23px;
}