* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
      'Lucida Sans', Arial, sans-serif;
      text-align: center;
      
  }
 
  .box {
    position: absolute;
    width: 525px;
    height: 766px;
    left: 455px;
    top: 52px;

    background: linear-gradient(141.5deg, rgba(2, 0, 116, 0.76) -7.55%, rgba(2, 0, 116, 0.6156) 99.79%);
    border-radius: 10px;
    

  }
  
  body {
    position: relative;
    width: 1440px;
    height: 1024px;
    background: linear-gradient(116.56deg, #00A3FF -2.01%, rgba(0, 163, 255, 0) 104.14%);
    

  }
     
  
  .todo-app {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 520px;
    min-height: 600px;
    background: #161a2b;
    text-align: center;
    margin:  128px auto;
    border-radius: 10px;
    padding-bottom: 32px;
    
    
  }
  
  h1 {
    margin: 32px 0;
    color: #fff;
    font-size: 24px;
  }
  
  .complete {
    text-decoration: line-through;
    opacity: 0.4;
  }
  
  .todo-form {
    margin-bottom: 32px;
  }
  
  .todo-input {
    padding: 15px 32px 14px 16px;
    background: rgba(0, 255, 240, 0.26);
    border: 1px solid #00E0FF;
    box-sizing: border-box;
    outline: none;
    width: 320px;
    color: #fff;
  }
  
  .todo-input::placeholder {
    color: #e2e2e2;
  }
  
  .todo-button {
    padding: 16px;
    
    cursor: pointer;
    outline: none;
    background: linear-gradient(180deg, #0085FF 0%, #0011A8 100%);
    border: 1px solid #0066FF;
    box-sizing: border-box;
    ;
    color: #fff;
    text-transform: capitalize;
    
  }
  
  .todo-input.edit {
    background: rgba(0, 255, 240, 0.26);
    border: 1px solid #00E0FF;
    box-sizing: border-box;
    
    
  }
  
  .todo-button.edit {
    background: linear-gradient(180deg, #0085FF 0%, #0011A8 100%);
    border: 1px solid #0066FF;
    box-sizing: border-box;
    padding: 16px;
    width: 78px;
    height: 45px;
    left: 830px;
    top: 170px;

  }
  
  .todo-container {
    display: flex;
    flex-direction: row;
    position: relative;
    
    
  }
  
  .todo-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 4px auto;
    color: #fff;
    
    background: linear-gradient(270deg, #D1FFCD 0%, #00FF29 100%);
    border: 2px solid #00FF29;
    box-sizing: border-box;
    border-radius: 10px;
  
    padding: 16px;
    width: 90%;
    
  }
  
  .todo-row:nth-child(4n + 1) {
    background: linear-gradient(270deg, #FF5C00 12.98%, #FFCB14 100%);
    border: 2px solid #FF5C00;
    box-sizing: border-box;
    border-radius: 10px;
  } 
  
  .todo-row:nth-child(4n + 2) {
    background: linear-gradient(270deg, #EA7B74 0%, #FF0F00 100%);
    border: 2px solid #FF0F00;
    box-sizing: border-box;
    border-radius: 10px;
  }
  
  .todo-row:nth-child(4n + 3) {
    background: linear-gradient(270deg, #00E0FF 12.98%, #CDF9FF 100%);
    border: 2px solid #00E0FF;
    box-sizing: border-box;
    border-radius: 10px;
  }
  
  .icons {
    display: flex;
    align-items: center;
    font-size: 24px;
    cursor: pointer;
  }
  
  .delete-icon {
    margin-right: 5px;
    color: #fff;
  }
  
  .edit-icon {
    color: #fff;
  }